#grid{
    display:grid;
    grid-template-columns: 250px 1fr;
}

body{
    margin:0px;
}

a{
    text-decoration: none;
    color:black;
}

h1{
    font-size: 70px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    border-bottom: 1.5px solid salmon;
    margin:0px;
    padding-bottom: 25px;
}

#grid ol{
    border-right: 1.5px solid salmon;
    width: 150px;
    margin:0px;
    padding-right:25px;
    padding-top: 20px;
}

#article{
    padding-left: 0px;
}

@media(max-width:800px){
    #grid{
        display:block;
    }
    #grid ol{
        border-right:none;
    }
    h1{
        border-bottom:none;
    }

}